CALCULAR EL CAMBIO DE UNA COMPRA

In [42]:
#Leer precio del producto
cod= int(input("Ingrese el precio del producto: "))

Ingrese el precio del producto: 50000

In [43]:
#Leer cantidad de dinero entregada
num= int(input("Ingrese la cantidad de dinero entregada por el cliente: "))

Ingrese la cantidad de dinero entregada por el cliente: 60000

In [44]:
#Imprimir "colocar dato"
#leer y asignar en la variable cambio. el dato es alfanumerico
cambio= num-cod

In [45]:
print(f"el cambio que se le debe entregar al cliente: {cambio}")

el cambio que se le debe entregar al cliente: 10000

CALCULAR EL ÁREA DE UN TRIANGULO

In [18]:
#Leer el número entero de la base del triangulo
bse= int(input("Ingrese el número entero de la base del triangulo "))

Ingrese el número entero de la base del triangulo 15

In [19]:
#Leer el número entero de la altura del triangulo
alt= int(input("Ingrese el número entero de la altura del triangulo "))

Ingrese el número entero de la altura del triangulo 18

In [21]:
#Imprimir "colocar dato"
#Leer y asignar en la variable del triangulo. el dato es alfanumerico
area= (bse*alt)/2

In [22]:
print(f"el área del triangulo es: {area}")

el área del triangulo es: 135.0

CALCULAR EL NÚMERO DE SEGUNDOS EN UN NÚMERO DE DIAS

In [25]:
#Leer el número entero de la cantidad de dias
dias= int(input("Ingrese el número entero de la cantidad de dias: "))

Ingrese el número entero de la cantidad de dias: 3

In [27]:
#imprimir "colocar dato"
#leer y asignar en la variable de segundos. el dato es alfanumerico
segundos= dias*24*60*60

In [31]:
print(f"el número de segundos en los días dados: {segundos}")

el número de segundos en los días dados: 259200

CALCULAR EL ÁREA DE UN TRIANGULO DADO LOS TRES LADOS

In [48]:
#Leer medidas de los tres lados de un triangulo
lado1= float(input("Ingrese la medida del primer lado del triangulo: "))
lado2= float(input("Ingrese la medida del segundo lado del triangulo: "))
lado3= float(input("Ingrese la medida del tercer lado del triangulo: "))

Ingrese la medida del primer lado del triangulo: 12.2
Ingrese la medida del segundo lado del triangulo: 13.5
Ingrese la medida del tercer lado del triangulo: 11.0

In [51]:
#imprimir "colocar dato"
#leer y asignar en la variable de semiperimetro. el dato es alfanumerico
semiperimetro= (lado1+lado2+lado3)/2

In [55]:
#imprimir "colocar dato"
#leer y asignar en la variable de area. el dato es alfanumerico
area= (semiperimetro*(semiperimetro-lado1)*(semiperimetro-lado2)*(semiperimetro-lado3))**0.5

In [56]:
print(f"el área del triangulo es: {area}")

el área del triangulo es: 63.42641006512984

CALCULAR DISTANCIA ENTRE DOS PUNTOS EN UN PLANO CARTESIANO

In [59]:
#Leer el número entero de las coordenadas de los dos puntps
coordenada1= (input("Ingrese las coordenadas p1 (x,y): "))
coordenada2= (input("Ingrese las coordenadas p2(x,y): "))

Ingrese las coordenadas p1 (x,y): 2,3
Ingrese las coordenadas p2(x,y): 3,5

In [61]:
#imprimir "colocar dato"
#leer y asignar coordenadas
x1,y1= map(int, coordenada1.split(','))
x2,y2= map(int, coordenada2.split(','))

In [63]:
#imprimir "colocar dato"
#leer y asignar en la variable distancia.
distancia= ((x2-x1)**2+(y2-y1)**2)**0.5

In [64]:
print(f"la distancia entre los dos puntos es: {distancia}")

la distancia entre los dos puntos es: 2.23606797749979